
.canvas {
  /*min-width: 45vmin;
  min-height: 75vmin;
  max-width: 75vmax;
  max-height: 45vmax;*/
  width: 45vmin;
  height: 75vmin;
  background: white;
  user-select: none;
}

#info {
  width: 45vmin
}
