.art {

  gap: 3rem;
  padding: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;

  svg {
    grid-column: 1;
    grid-row: 1;
  }

  figure {
    /* Looking at you Firefox */
    caret-color: transparent !important;
    
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 1;
  }

  figcaption {
    height: min-content;
    align-self: end;
    justify-self: end;
    grid-row: 1;
    grid-column: 1;
    display: inline-flex;
    flex-direction: column;
    width: 3ch;
    text-align: center;
    transform: translateX(-1em) rotate(-45deg);
    font-family: "Rowan", Georgia;
    &:before {
      counter-reset: i var(--item);
      content: counter(i);
      transform: rotate(45deg);
      color: get-color("shade");
        display: block;
    }
    span {
      border-bottom: 1px solid #{get-color("shade")};
    }
    &:after {
      counter-reset: i var(--total);
      content: counter(i);
      transform: rotate(45deg);
      color: get-color("shade");
    }
  }

  aside {
    width: 75vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
