.art {

  gap: 1rem;
  padding: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;

  svg {
  }

  aside {
    width: 75vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
