.art {
  padding: 6.5rem 1rem;
  width: 100%;
  max-width: 100%;

  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  --width: min(75vmin, calc(75vmin * var(--ratio)));
  --height: var(--width) * var(--ratio, 1);

  .canvas {
    width: var(--width);
    height: var(--height);
    // height: 75vmin;
    background: var(--canvas-bg, var(--bg));
  }
  aside {
    width: min(75vmin, calc(75vmin * var(--ratio)));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      max-width: 50ch;
    }
    h1 {
      --flow-space: 3rem;

      font: var(--font-heading-small);
    }
    h2 {
      --flow-space: 3rem;
      font: var(--font-caption);
    }
    .art-blog {
      --flow-space: 0.5rem;
    }
    button {
      margin-bottom: auto;
      display: inline-block;
    }

    .art-meta p {
      --flow-space: 0rem;
    }
  }
}
