.blog {

  p+p,
  h2+p {
    --flow-space: 2rem;
  }

  em {
    font-variation-settings: "slnt" 12;
  }

  h1 {
    font: var(--font-heading-large);
    max-width: 450px;
    margin: 0 auto 4rem;
  }

  h2 {
    font: var(--font-heading-small);
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    --flow-space: 4rem;
  }

  figure+figure {
    --flow-space: 0;
  }

  figure {
    width: 100%;
    width: clamp(100% + 2rem, calc(100vw - 6rem), 150%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    align-items: end;
    justify-content: center;
    gap: 1rem 4rem;
    background: white;
  }

  figure.layout-default,
  figure.layout-flip {
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    align-items: start;
    grid-auto-flow: dense;
    container-name: photogrid;

    img {
      width: auto;
      grid-column: span 2;
      padding: 0;
      border: none;
    }

    img:nth-of-type(3n+1):not(.vertical) {
      grid-column: span 3;
      grid-row: span 2;
      justify-self: end;
    }

    img:only-of-type:not(.vertical) {
      grid-column: span 4
    }
  }

  figure.layout-flip {
    direction: rtl;
  }

  figure.layout-center {
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: calc(100% + 2rem);

    img {
      width: 100%;
      padding: 0;
      border: none;
      max-height: 50vh;
      width: auto;
    }

    img:first-child {
      grid-column: 2;
    }
  }

  figcaption {
    font: var(--font-caption);
  }

  img {
    width: 150px;
    padding: 7px;
    max-width: 100%;
    border: 2px solid #{get-color("shade")};
  }

  .link-to-gen {
    // grid-row: 2;
    // grid-column: 3;
    font: var(--font-caption);
    font-family: "tt-norms";
    font-weight: 350;
    display: block;
    color: var(--color-accent-dark, var(--color-accent));
  }

  ul:not(.blog-list) {
    --flow-space: 2.5rem;
    max-width: 80%;
    font: var(--font-text);
    font-weight: 350;
    margin-left: 1em;

    li {
      list-style-type: "";
      position: relative;

      &::before {
        width: 0.35em;
        height: 0.35em;
        content: "*";
        font: var(--font-heading-small);
        color: var(--color-accent);
        position: absolute;
        top: 0.15em;
        left: -0.65em;
        transition: transform ease-out 1s;
      }

      &:hover::before {
        transform: rotate(360deg);
        transition: transform ease-in-out 0s;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      &::marker {
        color: var(--color-bg);
        font-size: 0.1px;
      }
    }

    >li+li {
      margin-top: 1rem;
    }
  }

  .clic {
    margin: 4.5rem auto;
    width: 100%;
  }
}

.blog-index {
  flex-grow: 1;
}

.blog-list {
  padding: 0;
  list-style-type: "";

  li {
    width: 100%;
    margin: 0;
  }

  a {
    --duration-hover: 0.4s;
    --ease-smooth-out: cubic-bezier(0, 0, 0.11, 1.01);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 2rem;
    color: var(--color-accent-dark);
    border-bottom: 1px solid #{get-color("shade")};
    box-shadow: 0 0 0 0 var(--color-accent-shade);
    transition: padding var(--ease-smooth-out) var(--duration-hover),
      gap var(--ease-smooth-out) var(--duration-hover);
  }

  time {
    display: block;
    font: var(--font-caption);
  }

  a:hover {
    background-color: var(--color-accent-shade);
    border-bottom: 1px solid var(--color-accent);
    box-shadow: 0 0 0 0.5rem var(--color-accent-shade);
    transition: box-shadow var(--ease-smooth-out) var(--duration-hover),
      padding var(--ease-smooth-out) var(--duration-hover),
      gap var(--ease-smooth-out) var(--duration-hover);
    padding-block: 3.5rem;
    gap: 2.5rem;
  }
}

.link-to-gen {
  --flow-space: 0.5rem;
}