.blog {
  max-width: 50ch;
  margin: 3rem auto 33vh;
  --flow-space: 5rem;
  @include apply-utility("font", "base");
  font-weight: 400;
  font-stretch: 90%;
  @include apply-utility("text", "300");
  line-height: 1.4;

  p + p,
  h2 + p {
    --flow-space: 1.5rem;
  }

  h1 {
    font-weight: 300;
    font-stretch: 90%;
    @include apply-utility("text", "900");
    line-height: 1.1;
  }
  h2 {
    --flow-space: 5rem;
  }

  figure {
    width: 100%;
    width: clamp(100%, calc(100vw - 6rem), 180%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    align-items: end;
    justify-content: center;
    gap: 4rem;
    background: white;
  }
  figcaption {
    @include apply-utility("text", "100");
    font-family: "Rowan", Georgia;
  }
  img {
    width: 150px;
    max-width: 100%;
    box-shadow: 0 0 0 7px white, 0 0 0 9px #{get-color("shade")};
  }

  ul:not(.blog-list) {
    --flow-space: 1.5rem;
    li {
      list-style-type: square;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.blog-list {
  li {
    width: 100%;
    margin: 0;
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #{get-color("shade")};
  }

  h2,
  time {
    font-weight: 450;
    line-height: 1.1;
    font-stretch: 80%;
    display: inline;
    box-decoration-break: clone;
    @include apply-utility("text", "300");
  }
  time {
    display: block;
    font-weight: 300;
    font-stretch: 90%;
    @include apply-utility("text", "100");
  }

  a:hover {
    background-color: get-color("shade");
    border-bottom: 1px solid #{get-color("primary")};
  }
}

.link-to-gen {
  --flow-space: 0.5rem;
}
