.generative-index {
  max-width: 100%;
}
.generative-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 3rem;
  justify-content: center;
  align-items: center;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0 calc(var(--seed) * 1rem + 1rem);
    padding-bottom: 1rem;
    box-shadow: inset 0 0 0 1rem var(--color-bg);
    max-width: calc(var(--seed) * 50px + 200px);
  }
  picture {
    padding: 1rem;
    padding-top: 1.5rem;
    transition: padding ease-in-out 0.2s;
  }
  img {
    // margin: 1rem;
    // margin-top: 1.5rem;
    background-color: white;
    padding: 7px;
    border: 2px solid #{get-color("shade")};
    // transition: margin ease-in-out 0.2s;
  }

  h2 {
    max-width: 100%;
    text-align: center;
    font: var(--font-caption);
    color: var(--color-text);
  }
  a:hover,
  a:focus {
    transition: background-color ease-out 0.4s, box-shadow ease-out 0.4s;
    background-color: var(--color-accent-shade);
    box-shadow: inset 0 0 0 0 var(--color-bg);

    picture {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }
    img {
      // margin-top: 1rem;
      // margin-bottom: 1.5rem;
      border-color: var(--color-accent);
    }
  }
  a:focus {
    outline-offset: 11px;
    outline: 2px solid #{get-color("focus")};
    caret-color: transparent !important;
  }

  .frameless {
    img {
      background: none;
      border: none;
    }
    &:hover,
    &:focus {
      background: none;
      box-shadow: 0 0 0 2px var(--color-accent);
    }
  }

  .clic {
    margin: 8rem;
    transform: rotate(0);
    transition: transform ease-out 1s;

    &:hover {
      transform: rotate(360deg);
      transition: transform ease-out 0s;
    }
  }

  .scale-2 {
    max-width: min(calc(var(--seed) * 50px + 400px), 100%);
  }
}
