header {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  a.logo {
    display: flex;
    gap: 0.375rem;
  }

  nav {
    margin-left: auto;
    display: flex;
    font-stretch: 70%;
    gap: 2rem;
    align-items: center;
  }

  ul {
    display: flex;
    li {
      list-style: none;
    }
  }
}
