.flow {
  > span,
  > button {
    display: inline-block;
  }
  > * + * {
    margin-top: var(--flow-space, 1rem);
  }
}

.flow-inline {
  > span {
    display: inline-block;
  }
  > * + * {
    margin-left: var(--flow-space, 1rem);
  }
}
