{% macro studio(open = "") %}
<details {{ open }}>
  <summary>
    Studio
    <i class="ph-bold ph-eye on"></i>
    <i class="ph-bold ph-eye-slash off"></i>
  </summary>
  <is-land on:visible="on:visible">
    <div id="app" class="studio"></div>
    <template data-island="data-island">
      <link rel="stylesheet" href="/css/studio.css" />
      <script type="module">
        import { createStudioApp } from "/components/studio/studio.esm.js";
        createStudioApp().mount("#app");
      </script>
    </template>
  </is-land>
</details>

{% endmacro %}
