{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    {% block meta %}
    <meta name="title" content="{{ title or 'Generative Art' }}" />
    <meta name="description" content="{{ site[locale].metaDescription }}" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />




    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="art">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title or 'Generative Art' }}">
    <meta property="og:description" content="{{ content | striptags(true) }}">
    <meta property="og:image" content="{{ site.url }}/images/art/{{ page.fileSlug }}.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta property="twitter:title" content="{{ title or 'Generative Art' }}">
    <meta property="twitter:description" content="{{ content | striptags(true) }}">
    <meta property="twitter:image" content="{{ site.url }}/images/art/{{ page.fileSlug }}.png">
    {% endblock %}
    <style>
      {% block style %}
        {% include "css/index.css" %}
      {% endblock %}
    </style>

    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link
          rel="stylesheet"
          href="{{ item }}{{ '?' + assetHash if not fxhash }}"
        />
      {% endfor %}
    {% endif %}

    {% block fxhash %}{% endblock %}

    {% if not fxhash %}
      <link rel="stylesheet" href="/typical/Rowan/ical.css" />
      <link rel="stylesheet" href="/typical/Manrope/ical.css" />
    {% endif %}

    {% if pageScripts and not fxhash %}
      {% for item in pageScripts %}
        <script type="module" src="{{ item }}{{ '?' + assetHash if not fxhash }}" ></script>
      {% endfor %}
    {% endif %}

  </head>
  <body>
    {% block header %}
      <a class="sr skip-link container bg-dark color-light text-500 " href="#main">{{ site.skip }}</a>
      {% include "partials/site-head.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% include "partials/site-foot.html" %}{% endblock %}


  </body>
</html>
