{% extends "layouts/base.html" %} 

{% block content %}
<main class="blog blog-index">
  <ul class="blog-list">
    {% for thing in collections.blog | reverse %}

    <li role="list" class="">
      <a class="" href="{{ thing.url }}" style="--seed: {{ global.seed() }}">
        <h2>{{ thing.data.title }}</h2>
        <time>
          {{ thing.date.toLocaleString('en-CA', { timeZone: 'UTC', dateStyle: "long" }) }}
        </time>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>

{% endblock %}
