{% extends "layouts/base.html" %}

{% set pageScripts = ["/generative/" + page.fileSlug + "/script.js"] %}
{% set pageStylesheets = ["/generative/" + page.fileSlug + "/style.css"] %}

{% block content %}

<main class="art">
  <figure class="show-layout">
  {% if svg %}
  <svg class="canvas" viewBox="0 0 {{ width }} {{ height }}" overflow="{{ 'visible' if overflow }}"></svg>
  {% endif %}
  {% if series %}
  <figcaption class="series"><span></span></figcaption>
  {% endif %}
  </figure>
  {% if canvas %}
  <canvas style="display:none;width:{{ width }}px;height:{{ height }}px" id="shadow" ></canvas>
  {% endif %}


  <aside id="info" class="flow show-layout" style="--flow-space:0.33rem">
    <button class="bg-primary color-light">Regenerate</button>
    <h1>{{ title or "Untitled" }}</h1>
    <p>{{ width }}&thinsp;&times;&thinsp;{{ height }}</p>
    <p>{{ page.date.getFullYear() }}</p>
    <div>
      {{ content | safe}}
    </div>
    {% for blog in collections.blog %}
      {% if blog.data.tags[0] === tags[0] %}
      <h2>About this series</h2>
      <a class="tagged-link" href="{{ blog.url }}">{{ blog.data.title }}</a>
      {% endif %}
    {% endfor %}
  </aside>
</main>

{% endblock %}
