{% extends "layouts/base.html" %}

{% block content %}
<main class="pad-400">
  <ul class="generative-list">
    {% for thing in collections.generative | reverse %}
      {% if thing.data.title !== title and not thing.data.hide %}
      <a class="text-500 font-base" href="{{ thing.url }}" style="--seed: {{ global.seed() }}">
      <li role="list">
        {% img "https://lovely-salamander-445f08.netlify.app/" + (site.url + thing.url) | urize + "/medium/1:1/bigger/_" + assetHash, "", "", "683" %}

        <h2>{{ thing.data.title or "Untitled" }}</h2>
      </li>
      </a>
      {% endif %}
    {% endfor %}
  </ul>
</main>

{% endblock %}
