{% extends "layouts/base.html" %} 
{% from "macros/clic.html" import clic with context %}


{% block content %}

<main class="generative generative-index">
  <ul class="generative-list">
    {% for flow in curate %}
      {% for thing in collections.curated[flow] %}
        <li role="list">
          <a class="{{ thing.data.frame }} scale-{{ thing.data.scale or '1' }}" href="{{ thing.url }}" style="--seed: {{ global.seed() }}">
            {% generated site.url | urize + thing.url | urize, "", "", "683",
              global.random() %}
            <h2 class="">{{ thing.data.title or "Untitled" }}</h2>
          </a>
        </li>
      {% endfor %}
      {{ clic(80) }}
    {% endfor %}
  </ul>
</main>

{% endblock %}
