{% extends "layouts/base.html" %}

{% from "macros/clic.html" import clic with context %}

{% set pageStylesheets = [
  "/" + page.fileSlug + "/style.css",
  "/css/studio.css"
] %}

{% set pageScripts = ["/js/studio.js"] %}

{% block header %}
  <header class="split">
    <a href="/" class="logo">
      <img src="/images/cliquart-light.svg" alt="Clique art" class="logo"/>
      {{ clic(32) }}
    </a>
    <input type="file" accept="svg" id="svg-file"/>
  </header>
{% endblock %}

{% block content %}
  {% include "partials/studio.html" %}
{% endblock %}