{% extends "layouts/base.html" %}

{% from "macros/clic.html" import clic with context %}

{% set pageStylesheets = [
  "/" + page.fileSlug + "/style.css",
  "/css/studio.css"
] %}



{% block header %}
  <header class="split">
    <a href="/" class="logo">
      <img src="/images/cliquart-light.svg" alt="Clique art" class="logo"/>
      {{ clic(32) }}
    </a>
    <input type="file" accept="svg" id="svg-file"/>
  </header>
{% endblock %}

{% block content %}
    <div id="app" class="studio"></div>
    <script type="module">
    import { createStudioApp } from "/components/studio/studio.esm.js";
    createStudioApp().mount("#app");
    </script>
{% endblock %}