button {
  --button-height: 44px;
  background-color: var(--color-accent-dark);
  color: var(--color-bg);
  border: none;
  padding: 0.375rem 0.75rem;
  min-height: var(--button-height);
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus {
  outline: 4px solid var(--focus);
}
button:hover {
  background-color: var(--color-accent);
}
button:active {
  height: calc(var(--button-height) - 4px);
  border-top: 4px solid var(--color-accent-dark);
}

.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5ch;
  flex-wrap: nowrap;
  text-decoration: none;
  &:hover {
    background-color: var(--color-accent-shade);
    box-shadow: 0 0 0 0.475rem var(--color-accent-shade);
  }
}

form {
  display: flex;
  flex-direction: column;
}
