// Scale
/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1rem;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///


$gorko-size-scale: (
  "none": 0,
  "100": $gorko-base-size * 0.236,
  "200": $gorko-base-size * 0.382,
  "300": $gorko-base-size * 0.618,
  "400": $gorko-base-size * 1,
  "500": $gorko-base-size * 1.618,
  "600": $gorko-base-size * 2.618,
  "700": $gorko-base-size * 4.236,
  "800": $gorko-base-size * 6.854,
  "900": $gorko-base-size * 11.089,
);

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$gorko-colors: (
  "light": var(--bg, #F5F5F5),
  "dark": var(--color, #090c02),
  "shade": var(--shade, #90928A),
  "primary-shade": var(--primary-shade, #312),
  "primary": var(--primary, #423),
  "primary-light": var(--primary-light, #534),
  "focus": var(--focus, #EAA),
);

/// FONTS
$gorko-fonts: (
  "base": "'Manrope', sans-serif",
  "text": "'Rowan', serif",
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
  "bg": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "background",
  ),
  "color": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "color",
  ),
  "box": (
    "items": (
      "block": "block",
      "flex": "flex",
      "hide": "none",
      "show": "inherit",
    ),
    "output": "responsive",
    "property": "display",
  ),
  "font": (
    "items": $gorko-fonts,
    "output": "standard",
    "property": "font-family",
  ),
  "gap-top": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "margin-top",
  ),
  "gap-right": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "margin-right",
  ),
  "gap-bottom": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "margin-bottom",
  ),
  "gap-left": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "margin-left",
  ),
  "pad-top": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding-top",
  ),
  "pad": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding",
  ),
  "pad-right": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding-right",
  ),
  "pad-bottom": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding-bottom",
  ),
  "pad-left": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "padding-left",
  ),
  "stack": (
    "items": (
      "300": 0,
      "400": 10,
      "500": 20,
      "600": 30,
      "700": 40,
    ),
    "output": "standard",
    "property": "z-index",
  ),
  "text": (
    "items": $gorko-size-scale,
    "output": "responsive",
    "property": "font-size",
  ),
  "weight": (
    "items": (
      "thin": "100",
      "light": "200",
      "blond": "300",
      "regular": "400",
      "medium": "500",
      "semibold": "600",
      "bold": "700",
      "extra-bold": "800",
      "chunker": "950"
    ),
    "output": "standard",
    "property": "font-weight",
  ),
  "stretch": (
    "items": (
      "narrow": "75%",
      "regular": "100%",
      "wide": "115%",
    ),
    "output": "standard",
    "property": "font-stretch",
  ),
  "width": (
    "items": (
      "full": "100%",
      "half": "50%",
      "quarter": "25%",
      "third": "33.333%",
    ),
    "output": "responsive",
    "property": "width",
  ),
  "breakpoints": (
    "sm": "(min-width: 36em)",
    "md": "(min-width: 48em)",
    "lg": "(min-width: 62em)",
  ),
);
