// Scale
/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1rem;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///

$gorko-size-scale: (
  "none": 0,
  "100": clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem),
  "200": clamp(0.63rem, calc(0.58rem + 0.24vw), 0.75rem),
  "300": clamp(0.94rem, calc(0.86rem + 0.37vw), 1.13rem),
  "400": clamp(1.25rem, calc(1.15rem + 0.49vw), 1.5rem),
  "500": clamp(1.88rem, calc(1.73rem + 0.73vw), 2.25rem),
  "600": clamp(2.5rem, calc(2.3rem + 0.98vw), 3rem),
  "700": clamp(3.75rem, calc(3.46rem + 1.46vw), 4.5rem),
  "800": clamp(5rem, calc(4.61rem + 1.95vw), 6rem),
  "900": clamp(7.5rem, calc(6.91rem + 2.93vw), 9rem),
);

$gorko-type-scale: (
  "100": clamp(0.94rem, calc(1.01rem + -0.1vw), 0.99rem),
  "300": clamp(1.19rem, calc(1.16rem + 0.12vw), 1.25rem),
  "500": clamp(1.43rem, calc(1.33rem + 0.47vw), 1.67rem),
  "700": clamp(1.71rem, calc(1.51rem + 1vw), 2.22rem),
  "900": clamp(2.05rem, calc(1.7rem + 1.77vw), 2.96rem),
);

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$gorko-colors: (
  "light": #f5f5f5,
  "dark": #090c02,
  "shade": #dadad2,
  "primary-shade": #312,
  "accent": var(--color-accent, #423),
  "accent-dark": var(--color-accent-dark, #312),
  "accent-shade": var(--color-accent-shade, #534),
  "primary": #423,
  "primary-light": #534,
  "focus": #eaa,
);

/// FONTS
$gorko-fonts: (
  "base": "'tt-norms', sans-serif",
  "text": "'tt-norms', sans-serif",
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
  "bg": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "background",
  ),
  "color": (
    "items": $gorko-colors,
    "output": "standard",
    "property": "color",
  ),
  // "box": (
  //   "items": (
  //     "block": "block",
  //     "flex": "flex",
  //     "hide": "none",
  //     "show": "inherit",
  //   ),
  //   "output": "responsive",
  //   "property": "display",
  // ),
  "font":
    (
      "items": $gorko-fonts,
      "output": "standard",
      "property": "font-family",
    ),
  // "gap-top": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "margin-top",
  // ),
  // "gap-right": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "margin-right",
  // ),
  // "gap-bottom": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "margin-bottom",
  // ),
  // "gap-left": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "margin-left",
  // ),
  // "pad-top": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "padding-top",
  // ),
  "pad":
    (
      "items": $gorko-size-scale,
      "output": "standard",
      "property": "padding",
    ),
  // "pad-right": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "padding-right",
  // ),
  // "pad-bottom": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "padding-bottom",
  // ),
  // "pad-left": (
  //   "items": $gorko-size-scale,
  //   "output": "standard",
  //   "property": "padding-left",
  // ),
  // "stack": (
  //   "items": (
  //     "300": 0,
  //     "400": 10,
  //     "500": 20,
  //     "600": 30,
  //     "700": 40,
  //   ),
  //   "output": "standard",
  //   "property": "z-index",
  // ),
  "text":
    (
      "items": $gorko-type-scale,
      "output": "responsive",
      "property": "font-size",
    ),
  // "weight": (
  //   "items": (
  //     "thin": "100",
  //     "light": "200",
  //     "blond": "300",
  //     "regular": "400",
  //     "medium": "500",
  //     "semibold": "600",
  //     "bold": "700",
  //     "extra-bold": "800",
  //     "chunker": "950"
  //   ),
  //   "output": "standard",
  //   "property": "font-weight",
  // ),
  // "stretch": (
  //   "items": (
  //     "narrow": "75%",
  //     "regular": "100%",
  //     "wide": "115%",
  //   ),
  //   "output": "standard",
  //   "property": "font-stretch",
  // ),
  "width":
    (
      "items": (
        "full": "100%",
        "half": "50%",
        "quarter": "25%",
        "third": "33.333%",
      ),
      "output": "responsive",
      "property": "width",
    ),
  // "layout":
  //   (
  //     "items": (
  //       "base": "100%",
  //       "md": "48em",
  //       "lg": "64em",
  //     ),
  //     "output": "responsive",
  //     "property": "width",
  //   ),
  "breakpoints":
    (
      "sm": "(min-width: 36em)",
      "md": "(min-width: 48em)",
      "lg": "(min-width: 64em)",
    ),
);
