:root {
  --font-heading-large: 3.75rem/1.06666666667 "Bizzarrini V0.5 Headline";
  --font-heading-small: 2.1875rem/0.875 "Bizzarrini V0.5 Headline";
  --font-text: 1.1875rem/1.2631578947 "tt-norms";
  --font-paragraph: 1.1875rem/1.6842105263 "tt-norms";
  --font-caption: 300 0.8125rem/1.2307692308 "Bizzarrini V0.5 Text";

  --space-gutter: 1rem;
}
