@import "_reset";

body {
  display: flex;
  background-color: var(--bg, white);
}
.art {

  gap: 1rem;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;

  #sig {
    font-family: monospace;
    text-align: right;
    color: #EAA;
  }
}
