@import "_reset";
@import "_config";
@import "../../node_modules/gorko/gorko";
@import "_typography";

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.sr:not(:focus) {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus {
  position: absolute;
  z-index: 20;
  top: var(--flow-space, 1rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;
  text-decoration: none;
}

body {
  //Layout foundations
  max-width: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --color-bg: #{get-color("light")};
  --color-text: #{get-color("dark")};
  --color-accent: #{get-color("accent")};
  --color-focus: #{get-color("focus")};
  background-color: var(--color-bg);
  color: var(--color-text);
  font: var(--font-text);

  font-variation-settings: "slnt" var(--slnt, 0);
  font-style: oblique 0deg;
}

header,
footer,
main {
  max-width: 100%;
  @include media-query("md") {
    max-width: 48rem;
  }
  padding: 0 var(--space-gutter);
  margin: 0 auto;
}

main {
  padding: 6.5rem 1rem;
}

a {
  color: var(--color-accent);
  text-decoration-thickness: max(0.07em, 1px);
  text-underline-offset: 0.15em;

  &:hover {
    text-decoration-color: var(--color-focus);
  }
}
:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #{get-color("focus")};
}

p {
  font: var(--font-paragraph);

  font-variation-settings: "slnt" var(--slnt, 0);
  font-style: oblique 0deg;
  + p {
    margin: 0;
    margin-top: var(--flow-space, 1rem);
  }
  i {
    position: relative;
    bottom: -0.25ex;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  align-items: center;
}

@import "blocks/button";
@import "blocks/toggle";
@import "blocks/details";

@import "compositions/art";
@import "compositions/blog";
@import "compositions/header";
@import "compositions/gallery";

@import "utilities/flow";
@import "utilities/show-layout";
