@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "_reset";
@import "_config";
@import "../../node_modules/gorko/gorko";

:root {
  font-size: 93.8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[role="list"] {
  list-style: none;
}

.sr:not(:focus) {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus {
  position: absolute;
  z-index: 20;
  top: var(--flow-space, 1rem);
  left: 50%;
  transform: translateX(-50%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: get-color("light");
  color: get-color("primary-shade");
}

header {
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
}

.logo {
  &:hover {
    background: get-color("focus");
    box-shadow: 0 0 0 1rem #{get-color("focus")};
  }
}

h1 {
  font-size: get-size("600");
  font-family: sans-serif;
  font-weight: 200;
  color: get-color("primary");
}
button {
  font-weight: 600;
  border: none;
  padding: 0 2rem;
  min-height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus {
  outline: 4px solid #{get-color("focus")};
}
button:hover {
  background-color: #{get-color("primary-light")};
}
button:active {
  height: 40px;
  border-top: 4px solid #{get-color("primary-shade")};
}

a {
  color: get-color("primary");
  text-decoration-style: solid;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-color: get-color("focus");
    color: get-color("primary-dark");
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid #{get-color("focus")};
  }
}

p {
  font-weight: 500;
  font-family: "Rowan", Georgia;
  font-size: 1rem;
  line-height: 1.4;
  max-width: 50ch;
  + p {
    text-indent: 1rem;
    margin: 0;
  }
}

.generative-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  li a {
    display: block;
  }
  @include media-query("md") {
    li a {
      margin-right: calc(15rem * var(--seed));
    }
  }

  li:nth-child(1n) a {
    padding: calc(3rem * var(--seed) + 1rem) calc(7rem * var(--seed) + 1rem)
      calc(5rem * var(--seed) + 1rem) calc(3rem * var(--seed) + 1rem);
  }

  li:nth-child(3n) a {
    padding: calc(5rem * var(--seed) + 1rem) calc(3rem * var(--seed) + 1rem)
      calc(7rem * var(--seed) + 1rem) calc(5rem * var(--seed) + 1rem);
  }

  li:nth-child(5n) a {
    padding: calc(3rem * var(--seed) + 1rem) calc(5rem * var(--seed) + 1rem)
      calc(5rem * var(--seed) + 1rem) calc(7rem * var(--seed) + 1rem);
  }
}

@import "compositions/art";
@import "utilities/flow";
