<div class="studio">
  {# <div class="studio-canvas"> #}
  <canvas resize="resize" id="studio"></canvas>
  {# </div> #}
  <aside>
    <h2>Studio</h2>
    <form>
      <label>
        File name
        <input id="filename" value="{{title | slugify }}"/>
      </label>
      <fieldset class="paired-values">
        <legend>Size (mm)</legend>
        <label class="output-control">
          Width
          <input id="support-width" value="{{width}}"/>
        </label>
        <label class="output-control">
          Height
          <input id="support-height" value="{{height}}"/>
        </label>
      </fieldset>
      <fieldset class="paired-values">
        <legend>Tool</legend>
        <label class="output-control">
          Up
          <input id="pen-up" value="M3S20"/>
        </label>
        <label class="output-control">
          Down
          <input id="pen-down" value="M3S15"/>
        </label>
      </fieldset>
      <label class="output-control">
        Feed rate
        <input id="feed-rate" value="3000" type="number" min="500" max="3000"/>
      </label>
      <label class="checkbox">
        <input id="check-duplicates" type="checkbox" value="check-duplicates"/>
        Check for duplicate paths
      </label>
    </form>
    <hr/>

    <div class="layers flow width-full">
      <h3>Features</h3>
      <ul class="reorder" id="layers" role="list"></ul>
      <hr/>
    </div>

    <a class="icon-link" id="getSVG">
      SVG
      <i class="ph-bold ph-file-arrow-down"></i>
    </a>
    <a class="icon-link" id="getGCODE">
      GCODE
      <i class="ph-bold ph-file-arrow-down"></i>
    </a>
  </aside>
</div>